# Ignore everything
*

# Allow to run the test script inside the Docker container
!/docker/test_dockerimage.sh

# Allow license file
!LICENSE

# Allow necessary build files in top-level directory
!emscripten-releases-tags.json
!emsdk
!emsdk.py
!emsdk_env.sh
!emsdk_manifest.json

# TODO: Somehow these legacy files are also required for building
!legacy-binaryen-tags.txt
!legacy-emscripten-tags.txt
!llvm-tags-64bit.txt
