clang
emscripten
emsdk_set_env.bat
emsdk_set_env.sh
git
node
python
temp
zips
crunch
java
mingw
spidermonkey
binaryen
.emscripten
.emscripten_cache
.emscripten_cache__last_clear
.emscripten_sanity
.tmp
tmp
gnu
emscripten-nightlies.txt
llvm-nightlies-32bit.txt
llvm-nightlies-64bit.txt
llvm-tags-32bit.txt
llvm-tags-64bit.txt
upstream
!upstream/lkgr.json
